<meta charset='utf-8' />
<meta name="keywords" content="OpenResty China社区" />
<meta name="description" content="" />
<meta name="apple-mobile-web-app-capable" content="no">
<meta content='True' name='HandheldFriendly' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<link rel="stylesheet" media="screen" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" media="screen" href="/static/css/application.css"/>
<link rel="stylesheet" media="screen" href="/static/css/font-awesome.css"/>
<link rel="stylesheet" media="screen" href="/static/css/users.css"/>
<link rel="stylesheet" media="screen" href="/static/css/pagebar.css"/>
<link rel="stylesheet" media="screen" href="/static/css/dialog.css"/>
<link rel="stylesheet" media="screen" href="/static/libs/highlight/default.css"/>
<link rel="stylesheet" media="screen" href="/static/libs/emojify/css/basic/emojify.min.css" />

<style>
	#main{
		min-height:450px;
	}

	.copyright{
		font-size: 12px;
  		margin-top: 5px;
	}

	#topics-body .topic:last-child{
		margin-bottom:10px;
	}

	#notifications .panel-heading{
		height: 56px;
	}

	#notifications .btn{
		border:none;
	}

	.tab-body{
		/*min-height:200px;*/
		padding-bottom: 10px;
	}


	#replies .alert{
		  margin-top: 10px;
	}

	#replies .reply .info {
	  margin-bottom: 8px;
	}

	.avatar-96 {
		width:96px;
		height:96px;
	}

	.avatar-64 {
		width:64px;
		height:64px;
	}

	.label-success, .label-danger {
		color:#fff;
		padding: 2px 8px;
  		border-radius: 8px;
	}

	#avatar_upload_progress_bar{
		width:140px;
		margin:0 auto;
	}

	a.btn-tiny {
		padding: 0 8px;
	    font-size: 12px;
	    height: 24px;
	    line-height: 24px;
	    color: #fff;
	}


	/* user-index page start*/
	#relation-op-area span{
		font-size:12px;
	}

	.user-index-tab-content .tab-body {
		
		margin-top: 3px;
	    font-size: 12px;
	    color: #bbb;
	}

	.user-index-tab-content .tab-body a{
		color:#555;
	}


	.user-index-tab-content .title{
		margin-top:5px;
		margin-bottom:5px;
	}

	.user-index-tab-content .title a{
		color: #356DD0;
		font-size:14px;
	}

	
	.user-index-tab-content .list-group-item{
		border-radius: 0px;
		border-left:none;
		border-right:none;
	}

	.user-index-tab-content .list-group-item:first-child {
	    margin-top: -4px;
	    border-top:none;
	}

	.user-index-tab-content .list-group-item:last-child {
	    border-bottom:none;
	}

	.user-index-tab-content .pagination2{
		font-size:12px;
		height: 30px;
    	padding: 0 0;
	}

	.user-index-tab-content .pagination2 div{
		margin-right:0px;
	}

	.user-index-tab-content .pagination2 .page-btn{
		margin-right:0px;
		margin-left:5px;
	}

	/* user-index page stop*/

	#avatar_show {
		height:140px;
		width:140px;
		margin-top:10px;
		margin-bottom:8px;
	}

</style>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/MD5.min.js"></script>

<script src="/static/js/dialog-min.js"></script>
<script src="/static/js/juicer.js"></script>
<script src="/static/js/moment-2.10.6.js"></script>
<script src="/static/js/jquery.pagebar.js"></script>
<script src="/static/libs/highlight/highlight.9.1.0.js"></script>
<script src="/static/js/marked.js"></script>
<script src="/static/libs/emojify/js/emojify.min.js"></script>
<script type="text/javascript">
	var APP = {};
</script>
<script src="/static/js/app.js"></script>
<script type="text/javascript">
	APP.Common.init();
</script>

